@import 'styles/colors';
@import 'styles/mixins';
@import 'styles/fonts';

@import 'components/navbar/nav/Nav';
@import 'components/footer/footer/Footer';
@import 'components/index/personalText/PersonalText';
@import 'components/portfolio/list/List';

body {
	background: $darkShade;
	color: $lightShade;
	font-family: $plainType;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $fancyType;
}

hr {
	width: 100%;
	border-style: solid;
	border-width: 1px;
}

.App {
	@include flexing(column, center, center);
}

.pageRow {
	height: 100vh;
	@include flexing(row, center, space-around);
	margin-top: 10rem;
}

.pageCol {
	height: 100vh;
	@include flexing(column, center, space-around);
	margin-top: 10rem;
}

.flexContainer {
	@include flexing(row, center, space-around);
	margin-top: 10rem;
}

.flexCol {
	@include flexing(column, center, space-around);
	margin: 3rem;
}

.flexRow {
	@include flexing(row, center, space-around);
	margin: 3rem;
}

.bioPic {
	height: auto;
	max-height: 55rem;
	width: auto;
	box-shadow: 0 0.2rem 0.4rem 0 $darkShade;
	border-radius: 0.5rem;
}

.card {
	// @include flexing(column, baseline, center);
	box-shadow: 0 0.2rem 0.4rem 0 $darkShade;
	padding: 1rem;
	margin: 5rem;
	opacity: 0.85;
	border-radius: 0.5rem;
}

.jumbotron {
	@include flexing(row, center, center);
	font-size: 3rem;
	overflow: hidden;
	width: 100vw;
	margin: 0;
	min-height: 4rem;
	height: 15%;
	position: absolute;
	left: 0;
	top: 8rem;
}

.accentLight {
	background: $lightAccent;
	color: $darkShade;
	a {
		color: $darkShade;
	}
	a:link,
	a:visited {
		color: $darkShade;
		text-decoration: none;
		.fab,
		.fas {
			color: $brandColor;
		}
	}
	a:hover,
	a:active {
		color: $darkAccent;
		.fab,
		.fas {
			color: $darkAccent;
		}
	}
	hr {
		border-color: $darkShade;
	}
	.fab,
	.fas {
		color: $brandColor;
	}
}

.accentDark {
	background: $darkAccent;
	color: $lightShade;
	a {
		color: $lightShade;
	}
	a:link,
	a:visited {
		color: $lightShade;
		text-decoration: none;
		.fab,
		.fas {
			color: $lightShade;
		}
	}
	a:hover,
	a:active {
		color: $lightAccent;
		.fab,
		.fas {
			color: $lightAccent;
		}
	}
	hr {
		border-color: $lightShade;
	}
	.fab,
	.fas {
		color: $lightShade;
	}
}

.dark {
	background: $darkShade;
	color: $lightShade;
	a {
		color: $lightShade;
	}
	a:link,
	a:visited {
		color: $lightShade;
		text-decoration: none;
		.fab,
		.fas {
			color: $lightShade;
		}
	}
	a:hover,
	a:active {
		color: $lightAccent;
		.fab,
		.fas {
			color: $lightAccent;
		}
	}
	hr {
		border-color: $darkAccent;
	}
	.fab,
	.fas {
		color: $lightShade;
	}
}

.light {
	background: $lightShade;
	color: $darkShade;
	a {
		color: $darkShade;
	}
	a:link,
	a:visited {
		color: $darkShade;
		text-decoration: none;
		.fab,
		.fas {
			color: $brandColor;
		}
	}
	a:hover,
	a:active {
		color: $darkAccent;
		.fab,
		.fas {
			color: $darkAccent;
		}
	}
	hr {
		border-color: $darkAccent;
	}
	.fab,
	.fas {
		color: $brandColor;
	}
}

.brand {
	font-family: $fancyType;
	background: $brandColor;
	color: $lightShade;
	a {
		color: $lightShade;
		font-family: $plainType;
		padding: 0.1rem 0.3rem;
		border-radius: 0.1rem;
	}
	a:link,
	a:visited {
		color: $lightShade;
		text-decoration: none;
		.fab,
		.fas {
			color: $lightShade;
		}
	}
	a:hover,
	a:active {
		background: $lightShade;
		color: $brandColor;
		.fab,
		.fas {
			background: $lightShade;
			color: $brandColor;
		}
	}
	hr {
		border-color: $lightAccent;
	}
	.fab,
	.fas {
		color: $lightShade;
	}
}

.index,
.services,
.about,
.portfolio {
	// margin-top: 15rem;
	background: url('./images/background.png');
	min-height: 75vh;
	height: auto;
	width: 97vw;
}
