//  Defines the Style Rules for the Navlinks component

//  Import General Styles
@import '../../../styles/colors';
@import '../../../styles/mixins';
@import '../../../styles/fonts';

//  Begin Style Definitions
.linkList {
	@include flexing(row, center, space-around);
	width: 25%;
	height: 100%;
	// margin: 1rem 1rem 0 1rem;
	margin: 1rem;
	// li {
	// 	padding: 1rem;
	// }
}
