//  Defines the Style Rules for the Nav component

//  Import General Styles
@import '../../../styles/colors';
@import '../../../styles/mixins';

//  Import Sub Elements
@import '../navBrand/NavBrand';
@import '../navlinks/Navlinks';

//  Begin Style Definitions
.nav {
	@include flexing(row, center, flex-start);
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 10;
	border-bottom: 3px solid $darkAccent;
	padding-bottom: 0;
}
