@import 'styles/colors';
@import 'styles/mixins';
@import 'styles/fonts';

ul {
    list-style-type: none;
}

.greeting {
    margin: 0 0 0 25%;
    opacity: 0.5
}

.name {
    font-size: 3rem;
    margin: 1rem 0 1rem 36%;
}

.social {
    width: 95%;
    border-bottom: 0.1rem solid $darkAccent;
    border-right: 0.5rem solid $darkAccent;
    padding-bottom: 1rem;
}

.title {
    margin: 0 0 2rem 53%;
}